<nav class="nav">
  <ul class="nav__list container">
    <li class="nav__item"><a href="/" class="nav__link nav__link--active">Home</a></li>
    <li class="nav__item"><a href="/saved" class="nav__link">Saved</a></li>
    <li class="nav__item"><a href="" class="nav__link">Refresh articles</a></li>
  </ul>
</nav>

<main class="container">
  <h2 class="text-center">Recent Articles</h2 class="text-center">
  <section class="articles">

  </section>


</main>