<nav class="nav">
  <ul class="nav__list container">
    <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
    <li class="nav__item"><a href="/saved" class="nav__link nav__link--active">Saved</a></li>
    <li class="nav__item"><a href="" class="nav__link">Refresh articles</a></li>
  </ul>
</nav>

<main class="container">
  <h2 class="text-center">Saved Articles</h2>
  <section class="saved">

  </section>
</main>